body {
  display: flex;
  align-items: center;
  justify-content: center;
}


div{
  background-image: url('./img/photo.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 70vw;
}


table,
th,
td {
  border: 1px solid black;
  font-weight: bold;
  background-color: #fff;
}

table {
    width: 70%;

    & td {
    background-color: rgb(229, 235, 170);
    text-align: center;
   }
}

